<div class="container">
  <div class="row">
    <div class="col">



      <% if notice  %>
        <div class="alert alert-success animated slideInDown" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <div class="card mt-3">
        <table class="table">
          <thead>
            <tr class="card-header">
              <th>Date</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <% @jourferies.each do |jourfery| %>
              <tr>
                <td><%= l(jourfery.date, format: '%A %d %B %Y') %></td>
                <td><%= link_to 'Modifier', edit_jourfery_path(jourfery) %></td>
                <td><%= link_to 'Détruire', jourfery, method: :delete, data: { confirm: 'Are you sure?' } , class: 'text-danger'%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
